    <link rel="preload" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"></noscript>
    <link rel="preload" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css"></noscript>
